#Node
node_modules/
out/
.vscode/
.specstory/
.husky/
.cursorindexingignore

#Reports & Results
/test-results/
/playwright-report/
/allure-results/
/allure-report/
/blob-report/
/playwright/.cache/
/ortoni-report/

# files system
.DS_Store