node_modules/
/test-results/
/playwright-report/
/allure-results/
/allure-report/
/blob-report/
/playwright/.cache/
/ortoni-report/

# files system
.DS_Store
.github/
.vscode/
.cursor/
.cursorignore
.cursorindexingignore
/specs/
seed.spec.ts
.specstory/