name: Regression Tests
on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 5'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test --grep=@Regression
      - name: Publish JUnit Test Report
        uses: mikepenz/action-junit-report@v6
        if: success()
        with:
          report_paths: '**/test-results/jsonReport.xml'
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Get Allure Report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: reports
          path: reports/allure/regression
      - name: Build Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: allure-results
          gh_pages: reports/allure/regression
          allure_report: regression/allure/allure-report
          allure_history: regression/allure/allure-history
          keep_reports: 20
          subfolder: regression/allure
      - name: Deploy Allure report to Github Pages in the Regression dir
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: reports
          publish_dir: regression/allure/allure-history
          keep_files: true
